beautifulsoup4
black
environs
flake8
flask
flask-sqlalchemy
gunicorn
isort
jinja2
openai
pip-tools
psycopg2-binary
pyjwt
python-telegram-bot
requests
riotwatcher
sqlalchemy
sentry-sdk[flask]
uvicorn
werkzeug
wikipedia
